<section id="sobre-mim">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 imagem">
        <img class="img" src="assets\images\foto-perfil.jpg" alt="foto minha" />
      </div>
      <div class="col-lg-6 textos">
        <div class="conteudo">
          <h2 class="titulo">Sobre mim</h2>
          <p class="texto">
            Me chamo Leonardo Wittica Crozetta, sou natural de Curitiba,Brasil.
            Tenho 19 anos e sou atualmente estudante de Ciência da computação.
            Meu maior objetivo hoje profissional é futuramente me tornar um
            FullStack Developer e fundar minha própria empresa ou fazer parte de
            uma grande empresa de tecnologia e por conseguinte ajudar a
            revolucionar a tecnologia e por consequência contribuir com o
            desenvolvimento da ciência da qualidade de vida das pessoas do mundo
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
