<section id="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 nav-bar">
                <ul class="nav justify-content-end conteudo">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Tecnologias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Projetos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contatos</a>
                    </li>
                   
                  </ul>
            </div>
        </div>
    </div>
</section>
